
.App {
  background: #fafafa;
}
.loading {
  background: rgba(255, 255, 255, 0.468);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
/* Set the width and height of the scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; /* White background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; /* Black background */
  border: 2px solid #000;
}

.bg-noForImg{
  mix-blend-mode: difference;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; /* Dark gray background on hover */
}

.sidebar {
  background-image: url(./asset/sidebar-1.jpg);
  height: 100vh;
  margin: 0;
  background-position: center;
  background-size: cover;
}
.blackShade {
  background: #0000006d;
  height: 100%;
  width: 100%;
  margin: 0;
}
.btn-primary {
  background: #2c56fe;
  color: rgb(207, 206, 206);
  border: none;
  transition: 0.5s;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}
.btn-primary:hover {
  transition: 0.5s;
  background: #000;
}
.height-100vh {
  height: 100vh;
}
.filter-invert {
  filter: invert(1);
}
.cursor-point:hover {
  cursor: pointer !important;
}
.dp {
  background: whitesmoke;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 150px;
}
.card-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 10px;
  padding: 5px;
}
@media (max-width: 1300px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 0px) {
  .card-grid {
    grid-template-columns: 1fr 1fr  ;
  }
}
@media (max-width: 878px) {
  .card-grid {
    grid-template-columns: 1fr 1fr ;
  }
}
@media (max-width: 620px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
.cards {
  border: 1px solid #000000;
  width: 50%;
  /* border-radius: 8px; */
  margin-top: 20px;
  animation: shadeSlideUp 1s;
}
.height-100vh-min {
  min-height: 100vh;
}
@media (max-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    height: 80px;
  }
}
.load-more-button {
  display: block;
  width: 150px;
  padding: 10px 20px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.load-more-button:hover {
  background-color: #fff;
  color: #000;
}

.blocked th,.blocked td {
  color: red !important;
}
.bg-grey {
  background: #bbbaba;
}
.btn-fav {
  background: #dc3232;
  color: rgb(207, 206, 206);
  border: none;
  transition: 0.5s;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}
.btn-fav:hover {
  background: #af2f2f;
}
.link {
  color: black;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
.first-word-colour span{
 color: #000000;
}
.text-aware{
  color: #dc3232;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.userDetails h4{
  font-size: 17px;
}

.link:hover {
  color: white;
}

.link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.border-box{
  border: none;
  padding: 5px;
  min-height: 215px;
  width: 90vw;
}
@media (max-width: 400px) {
  .view h5{
    font-size: 16px;
  }
}
.h-40px{
  height: 40px;
}
.confirmation-box{
  position: fixed;
  width: 300px;
  aspect-ratio: 2/1;
  border-radius: 3px;
  background: #bbbaba;
  padding: 10px;
  border:1px solid black;
  left: 50%;
  top: 50%;
  margin-top: -125px;
  margin-left: -150px;
  align-self: center;
  /* animation: slideup 0.5s ease-out; */
}

@keyframes slideup {
  0%{
    top: 110%;
  }
  100%{
    top: 50%;
  }
}
.w-100vh{
 width: 100%;
}
.transition-1s{
  transition: 1s;
}
.border-radius-3{
  border-radius: 3px;
}

@keyframes shadeSlideUp{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.w-45{
  width: 45%;
}

@media (max-width: 650px) {
  .hide-650{
    display: none;
  }
}
.height-50vh-min{
 min-height: 50vh;
}
.btn-down:hover + .slide-down{
  animation: shadeSlideUp 0.5s;
  display: block;
}
.transition-05s{
  transition:0.5s ease-in;
}


.slide-down:hover{
  display: block;
}
.slide-down li:hover{
  cursor: pointer;
  color: #bbbaba;
  transition: 0.5s;
}
.time{
  font-size: 8.5px;
  color: #979696;
}

.myStream-div{
  background: #000;
  width: 200px;
  aspect-ratio: 27/2;
  border-radius: 8px  !important;
}
.myStream-div video{
  border-radius: 8px  !important;
}

.myVideo{
  width: 200px;
  right: 15px;
  position:fixed;
  bottom: 66px;
}


/* Base styles for the progress bar */
.custom-progress {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* Styling the progress indicator (filled part) */
.custom-progress::-webkit-progress-value {
  background-color: #4CAF50;
  border-radius: 10px;
}

/* Styling the progress bar track (empty part) */
.custom-progress::-webkit-progress-bar {
  background-color: transparent;
}
